.impressum{
    color: $fc-dark;
    max-width: 900px;
    margin: 0 auto;

    h2{
        text-transform: uppercase;
        font-weight: 300;
        font-size: $fs-2xl;
        line-height: 1.2em;
        padding: 1em 0;
    }

    h5{
        padding: 10px;
    }

    p{
        padding: 10px;

        a{
            color: $green-accent-bg;
        }

        &:last-child{
            margin-bottom: 2em;
        }
    }

    ul{
        padding-left: 25px;
        li{
            list-style: circle;
            padding: 5px;
            a{
                color: $green-accent-bg;
            }
        }
    }
}